.body {
  margin: 0 !important;
}

.banner {
  background: url("dribble_refund_gaming.webp");
  background-repeat: no-repeat;
  margin: 0;
  height: 790px;
  padding: 0px;
  width: auto;
  background: url(dribble_refund_gaming.webp);
  background-size: 100%;
  border: 0px;
  background-position: center;
}
.banner .search {
  text-transform: uppercase;
  padding: 11;
  text-decoration: blanchedalmond;
  text-align: left;
  margin-right: 120px;
  width: 398px;
  border-radius: 20px;
  cursor: pointer;
}

.about-sign-in {
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
}

.Sign-in {
  padding: 10px;
  margin-right: 0px;
  margin-left: 25px;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid brown;
  color: red;
}

.shop {
  border-radius: 20px;
  text-decoration: none;
  margin-left: 25px;
  border: 1px solid brown;
  padding: 10px;
  color: red;
}

.about {
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid brown;
  padding: 10px;
  color: red;
}

.brown {
  border: 1px solid brown;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}
